/* Eindproject CSS to the Resue, gemaakt door Kim van Zuilen */
/* Opdracht 1 : Modular control panel 🎮 */


/****************************/
/*  ✨✨ General Styling ✨✨*/
/***************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  /* Fonts */
  --pixelify-sans: "Pixelify Sans", sans-serif;
  --pixelify-weight-400: 400;

  /* Hex colors */
  --black: #000000;
  --white: #FFFFFF;
  --yellow: #FFE28B;
  --yellow2: #F3CD57;
  --yellow-dark: #D39D19;
  --light-grey: #E7E9EA;
  --medium-grey: #B9BFC0;
  --dark-grey: #A7AFAF;
  --pink-shade1: #FF99CC;

  /* Defaults */
  --current-color: var(--yellow2);
  --stickers: url('/images/backgroundStickers.png');


  /* Backgrounds */
  --game-choice: url('/images/kirbyBackground.png');
  --aquarium: url('/images/aquariumbackground.png');
  --city: url('/images/citybackground.png');
  --island: url('/images/islandbackground.png');


  /* Radio buttons colors */
  --pink: #FBC3C5;
  --green: #C3FBCA;
  --purple: #F0C3FB;
  --blue: #C3F4FB;
  --orange: #FBD6C3;

  /* Animations */
  --animation-speed-fast: 0.5s;
  --animation-speed-medium: 1s;
  --animation-speed-slow: 2.5s;
  --animation-easing: ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

body {
  background-image: url(/images/Kirby_background2.png);
  background-size: cover;
  height: 120vh;
  background-repeat: no-repeat;
}

/****************************/
/*    ✨✨ Headings ✨✨     */
/***************************/
/* 💗 H1 & H2 💗 */

h1,
h2 {
  font-family: var(--pixelify-sans);
  font-weight: var(--pixelify-weight-400);
  font-style: normal;
  transition: .5s;
}

h1 {
  /* Bron voor calc, codepen over headlines met viewport units
     https://codepen.io/SitePoint/pen/XMPgdr */
  font-size: calc(2em + 1.7vw);
  background-color: var(--pink-shade1);
  padding: .1em .3em;
  border-radius: 50px;
  color: var(--white);

  /* Animatie funnyTitle */
  animation: funnyTitle 3s infinite ease-in-out;
}

h2 {
  /* Bron voor calc, codepen over headlines met viewport units
     https://codepen.io/SitePoint/pen/XMPgdr */
  font-size: calc(1em + 0.5vw);
  text-align: center;
  margin: 10px;
}

/* Headings onzichtbaar */
article h2,
section h3 {
  display: none;
}

/****************************/
/*      ✨✨ Buttons ✨✨    */
/***************************/

button {
  cursor: pointer;
  background-color: #D3D3D3;

  &:hover {
    transform: scale(1.15);
  }
}


/****************************/
/*   🔑🔑 Key Frames   🔑🔑  */
/***************************/

/* Animatie voor heading h1 */
@keyframes funnyTitle {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2, 0.8);
  }
}

/* Bron inspiratie code van Sanne : https://codepen.io/shooft/pen/RwoGVBp , 
de animatie is wel aangepast 😊 */

/* Animatie voor kirby springen 🎀 */
@keyframes jump {
  0% {
    transform-origin: right bottom;
  }

  8% {
    transform: scale(1.2, .8);
  }

  16% {
    transform: scale(.75, 1.25) translateY(-5em) rotate(15deg);
  }

  24% {
    transform: scale(1.5, .5);
  }

  32% {
    transform: scale(.9, 1.1);
  }

  40%,
  50% {
    transform-origin: left bottom;

  }
}

/* Animatie voor kirby stap rechts 🎀 */
@keyframes stepRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(20px);
  }
}

/* Animatie voor kirby stap links 🎀 */
@keyframes stepLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-20px);
  }
}

/* Animatie voor kirby rond draaien 🎀 */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Animatie voor kirby squishen 🎀 */
@keyframes squish {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(.5, 0.1);
  }

  50% {
    transform: scale(.75, 0.2);
  }

  75% {
    transform: scale(.9, 0.3);
  }

  100% {
    transform: scale(1, 1);
  }
}


/*****************************/
/*     🙂‍↔️🙂‍↔️ ANIMATIONS   🙂‍↔️🙂‍↔️ */
/****************************/

/* Animaties van buttons */
/* Jump animatie  */
body:has(section:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(3) li:nth-of-type(1) button:active,
  section:nth-of-type(3) ul:nth-of-type(1) li:nth-of-type(3) li:nth-of-type(1) button:active) section:nth-of-type(1) div::after {
  animation: jump var(--animation-speed-slow) var(--animation-easing);
}

/* Squish animatie  */
body:has(section:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(3) li:nth-of-type(2) button:active,
  section:nth-of-type(3) ul:nth-of-type(1) li:nth-of-type(3) li:nth-of-type(2) button:active) section:nth-of-type(1) div::after {
  animation: squish 1.5s var(--animation-easing);
}

/* Step rechts animatie  */
body:has(section:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(3) li:nth-of-type(3) button:active,
  section:nth-of-type(3) ul:nth-of-type(1) li:nth-of-type(3) li:nth-of-type(3) button:active) section:nth-of-type(1) div::after {
  animation: stepRight var(--animation-speed-medium) var(--animation-easing);
}

/* Animatie stap left */
body:has(section:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(3) li:nth-of-type(4) button:active,
  section:nth-of-type(3) ul:nth-of-type(1) li:nth-of-type(3) li:nth-of-type(4) button:active) section:nth-of-type(1) div::after {
  animation: stepLeft var(--animation-speed-medium) var(--animation-easing);
}

/* Animatie spinnen */
body:has(section:nth-of-type(2) ul:first-of-type>li:nth-of-type(2) button:active,
  section:nth-of-type(3) ul:first-of-type>li:nth-of-type(2) button:active) section:nth-of-type(1) div::after {
  animation: spin var(--animation-speed-medium) var(--animation-easing);
}


/************************/
/* 🎮🎮🎮🎮🎮🎮🎮🎮🎮🎮🎮🎮 */
/* Nintendo SWITCH LITE */
/* 🎮🎮🎮🎮🎮🎮🎮🎮🎮🎮🎮🎮 */
/************************/

/* L-knop */
section:nth-of-type(2)>div>button {
  color: transparent;
  border: none;
  padding: 1em;
  position: absolute;
  width: 4em;
  height: 6em;
  border-radius: 5px;
  z-index: -1;
  margin-left: -.5em;
  box-shadow: inset 4px 4px 5px rgba(255, 255, 255, .5),
    inset -4px -4px 5px rgba(0, 0, 51, .5);
}

/* R-knop */
section:nth-of-type(3)>div>button {
  color: transparent;
  border: none;
  padding: 1em;
  border-radius: 5px;
  width: 4em;
  height: 6em;

  position: absolute;
  right: -.5em;
  z-index: -1;

  box-shadow: inset 4px 4px 5px rgba(255, 255, 255, .5),
    inset 5px -2px 5px rgba(0, 0, 51, .5);
}

/* Placement button R */
section:nth-of-type(3)>div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* Globale opzet van de nintendo  */
/* Samen opgezet met Sanne! */
article {
  height: min(min(80vh, 160vw), 40em);
  width: min(min(45vh, 80vw), 20em);

  /* grid */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 20px;
  position: relative;
  transition: .2s;

  box-shadow: inset 4px -8px 14px rgba(255, 255, 255, .5),
    inset 3px -2px 4px rgba(0, 0, 51, .5);
}

section:nth-of-type(1) {
  grid-column: span 2;
  border-radius: 10px;
}

section:nth-of-type(2) {
  border-radius: 15px 0px 0px 20px;
  position: relative;
  box-shadow: inset 4px -8px 14px rgba(255, 255, 255, .5),
    inset 3px -2px 4px rgba(0, 0, 51, .5);
}

section:nth-of-type(3) {
  border-radius: 0px 15px 20px 0px;
  position: relative;
  box-shadow: inset -6px -2px 14px rgba(255, 255, 255, .5),
    inset -3px -1px 4px rgba(0, 0, 51, .5);
}

/****************************/
/*✨✨ Container Queries ✨✨*/
/***************************/
/* Container setup */

section:nth-of-type(2)>ul:nth-of-type(1) {
  container-name: containerButtons1;
  container-type: inline-size;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 4px;
  width: 150px;
  height: 300px;
  margin: auto;
}

section:nth-of-type(3)>ul:nth-of-type(1) {
  container-name: containerButtons2;
  container-type: inline-size;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 4px;
  width: 150px;
  height: 300px;
  margin: auto;
}

@container containerButtons1 (min-width: 200px) {
  section:nth-of-type(2)>ul:nth-of-type(1) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

@container containerButtons2 (min-width: 200px) {
  section:nth-of-type(3)>ul:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}


/****************************/
/* ✨✨  Scherm display ✨✨ */
/***************************/

/* Screen */
section:nth-of-type(1) div {
  color: transparent;
  background-size: cover;
  margin: 50px 5px 30px 5px;

  aspect-ratio: 3/2;
  border-radius: 15px;
  border: 1px solid #F6D875;
  border-width: 15px 2em;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;

  box-shadow:
    1px -1px 5px 1px rgba(230, 204, 204, .75),
    1px 1px 4px 1px rgba(26, 0, 0, .75),
    inset 4px 4px 5px rgba(255, 255, 255, .5),
    inset 8px 10px 12px 3px rgba(26, 0, 0, .5);
}

/* Kirby on screen */
section:nth-of-type(1) div::after {
  content: "kirby";
  color: transparent;

  height: 4em;
  aspect-ratio: 1;
  margin-bottom: 1em;

  background-image: url(/images/kirby-tryout.webp);
  background-repeat: no-repeat;
  background-size: cover;
}


/*****************************/
/*   🎮 Button Stylings   🎮  */
/*****************************/

/* Grid placement of de richtingsbuttons */
/* Richtings button */
section:nth-of-type(2)>ul:nth-of-type(1) li:nth-of-type(3) ul,
section:nth-of-type(3)>ul:nth-of-type(1) li:nth-of-type(3) ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

section:nth-of-type(2)>ul:nth-of-type(1) li:nth-of-type(3) ul li:nth-of-type(1),
section:nth-of-type(3)>ul:nth-of-type(1) li:nth-of-type(3) ul li:nth-of-type(1) {
  grid-column: 2;
  grid-row: 1;
}

section:nth-of-type(2)>ul:nth-of-type(1) li:nth-of-type(3) ul li:nth-of-type(2),
section:nth-of-type(3)>ul:nth-of-type(1) li:nth-of-type(3) ul li:nth-of-type(2) {
  grid-column: 2;
  grid-row: 3;
}

section:nth-of-type(2)>ul:nth-of-type(1) li:nth-of-type(3) ul li:nth-of-type(3),
section:nth-of-type(3)>ul:nth-of-type(1) li:nth-of-type(3) ul li:nth-of-type(3) {
  grid-column: 3;
  grid-row: 2;
}

section:nth-of-type(2)>ul:nth-of-type(1) li:nth-of-type(3) ul li:nth-of-type(4),
section:nth-of-type(3)>ul:nth-of-type(1) li:nth-of-type(3) ul li:nth-of-type(4) {
  grid-column: 1;
  grid-row: 2;
}

/* ⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️ */
/* Richtingsbuttons L */
/* ⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️ */
section:nth-of-type(2)>ul:nth-of-type(1)>li:nth-of-type(3) {
  text-align: center;

  /* top  button */
  li:nth-of-type(1) button {
    color: transparent;
    width: 1.5em;
    margin-top: .2em;
    aspect-ratio: 1;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  /* bottom button */
  li:nth-of-type(2) button {
    color: transparent;
    transform: rotate(180deg);
    width: 1.5em;
    aspect-ratio: 1;
    margin-top: .2em;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  /* right button */
  li:nth-of-type(3) button {
    color: transparent;
    transform: rotate(90deg);
    width: 1.5em;
    aspect-ratio: 1;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  /* left button */
  li:nth-of-type(4) button {
    color: transparent;
    width: 1.5em;
    aspect-ratio: 1;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(-90deg);
  }
}

/* ⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️ */
/* Richtingsbuttons R */
/* ⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️ */
section:nth-of-type(3)>ul:nth-of-type(1)>li:nth-of-type(3) {
  text-align: center;

  /* top bottom */
  li:nth-of-type(1) button {
    color: transparent;
    width: 1.5em;
    margin-top: .2em;
    aspect-ratio: 1;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  /* bottom button */
  li:nth-of-type(2) button {
    color: transparent;
    width: 1.5em;
    aspect-ratio: 1;
    margin-top: .2em;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(180deg);
  }

  /* right button */
  li:nth-of-type(3) button {
    color: transparent;
    width: 1.5em;
    aspect-ratio: 1;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(90deg);
    /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
  }

  /* left button */
  li:nth-of-type(4) button {
    color: transparent;
    width: 1.5em;
    aspect-ratio: 1;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(-90deg);
  }
}


/* ⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️ */
/* Positionering buttons in ul  */
/* Min button */
section:nth-of-type(2)>ul:nth-of-type(1)>li:nth-of-type(1) {
  grid-column: 2;
  grid-row: 1;
  padding-top: 10px;

  button {
    color: transparent;
    border-radius: 6px;
    width: 2.4em;
    height: 1em;
    border: none;
    box-shadow: 0px 0px 1px rgba(230, 204, 204, .75),
      inset 4px 4px 5px rgba(255, 255, 255, .5),
      inset -4px -4px 5px rgba(26, 0, 0, .5)
  }
}

/* plus button */
section:nth-of-type(3)>ul:nth-of-type(1)>li:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1;
  padding-top: 10px;

  button {
    color: transparent;
    width: 2em;
    height: 2em;
    clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 77%, 35% 77%, 35% 50%, 10% 50%);
    border: none;
    box-shadow:
      inset 10px 7px 5px rgba(255, 255, 255, .5),
      inset -9px -16px 7px rgba(0, 0, 51, .5);
  }
}

/* L mushroom */
section:nth-of-type(2)>ul:nth-of-type(1)>li:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
  padding-left: 10px;

  button {
    color: transparent;
    border-radius: 50%;
    position: relative;
    border: none;
    width: clamp(4em, 7vh, 8em);
    height: clamp(4em, 7vh, 8em);

    box-shadow:
      inset 0px 3px 8px rgba(0, 0, 0, 0.3),
      0px 2px 5px rgba(0, 0, 0, 0.15);

    background-color: grey;
    transition: transform 0.2s ease-in-out;

    &::after {
      content: "";
      width: 95%;
      aspect-ratio: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      box-shadow:
        inset 0px 0px 1px 8px rgba(255, 255, 255, .5),
        inset 0px 0px 3px rgba(0, 0, 51, .5);

      background:
        /* up */
        linear-gradient(90deg, #000, rgba(0, 0, 0, 0) 20% 80%, #000) 50% 0 / 3% 12%,
        linear-gradient(#000 5%, #444 15% 30%, #666 50%, #3c3c3c, #484848) 50% 0 / 3% 12%,

        /* left */
        linear-gradient(rgba(0, 0, 0, 0) 30% 90%, #fff) 0% 50% / 12% 3%,
        linear-gradient(#000, rgba(0, 0, 0, 0) 30% 70%, #000) 0% 50% / 12% 3%,
        linear-gradient(90deg, rgba(255, 255, 255, 0.25), #222 10% 50%, #444) 0% 50% / 12% 3%,

        /* right */
        linear-gradient(rgba(0, 0, 0, 0) 30% 90%, #fff) 100% 50% / 12% 3%,
        linear-gradient(#000, rgba(0, 0, 0, 0) 30% 70%, #000) 100% 50% / 12% 3%,
        linear-gradient(to left, rgba(255, 255, 255, 0.25), #222 10% 50%, #444) 100% 50% / 12% 3%,

        /* down */
        linear-gradient(90deg, #000, rgba(0, 0, 0, 0) 20% 80%, #000) 50% 100% / 3% 12%,
        linear-gradient(to top, rgba(255, 255, 255, 0.25), #111 15% 50%, #444) 50% 100% / 3% 12%;
      background-repeat: no-repeat;
      background-blend-mode: multiply;
    }

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 50%;
      top: 10%;
      left: 10%;
      border-radius: 50%;
      background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 10%, transparent 70%);
      opacity: 0.3;
    }
  }
}


/* R mushroom */
section:nth-of-type(3)>ul:nth-of-type(1)>li:nth-of-type(2) {
  grid-column: 2;
  grid-row: 2;
  padding-right: 10px;


  button {
    color: transparent;
    border-radius: 50%;
    position: relative;
    border: none;
    width: clamp(4em, 7vh, 8em);
    height: clamp(4em, 7vh, 8em);
    box-shadow:
      inset 0px 3px 8px rgba(0, 0, 0, 0.3),
      0px 2px 5px rgba(0, 0, 0, 0.15);
    background-color: grey;
    transition: transform 0.2s ease-in-out;

    &::after {
      content: "";
      width: 95%;
      aspect-ratio: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      box-shadow:
        inset 0px 0px 1px 8px rgba(255, 255, 255, .5),
        inset 0px 0px 3px rgba(0, 0, 51, .5);
      background:
        /* up */
        linear-gradient(90deg, #000, rgba(0, 0, 0, 0) 20% 80%, #000) 50% 0 / 3% 12%,
        linear-gradient(#000 5%, #444 15% 30%, #666 50%, #3c3c3c, #484848) 50% 0 / 3% 12%,

        /* left */
        linear-gradient(rgba(0, 0, 0, 0) 30% 90%, #fff) 0% 50% / 12% 3%,
        linear-gradient(#000, rgba(0, 0, 0, 0) 30% 70%, #000) 0% 50% / 12% 3%,
        linear-gradient(90deg, rgba(255, 255, 255, 0.25), #222 10% 50%, #444) 0% 50% / 12% 3%,

        /* right */
        linear-gradient(rgba(0, 0, 0, 0) 30% 90%, #fff) 100% 50% / 12% 3%,
        linear-gradient(#000, rgba(0, 0, 0, 0) 30% 70%, #000) 100% 50% / 12% 3%,
        linear-gradient(to left, rgba(255, 255, 255, 0.25), #222 10% 50%, #444) 100% 50% / 12% 3%,

        /* down */
        linear-gradient(90deg, #000, rgba(0, 0, 0, 0) 20% 80%, #000) 50% 100% / 3% 12%,
        linear-gradient(to top, rgba(255, 255, 255, 0.25), #111 15% 50%, #444) 50% 100% / 3% 12%;
      background-repeat: no-repeat;
      background-blend-mode: multiply;
    }

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 50%;
      top: 10%;
      left: 10%;
      border-radius: 50%;
      background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 10%, transparent 70%);
      opacity: 0.3;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

/* L richtingsbuttons */
section:nth-of-type(2)>ul:nth-of-type(1)>li:nth-of-type(3) {
  grid-column: 1;
  grid-row: 3;
  background-color: grey;
  border: none;
  clip-path: polygon(0 30%, 32% 30%, 32% 0, 68% 0, 68% 31%, 100% 31%, 100% 62%, 68% 62%, 68% 96%, 32% 96%, 32% 63%, 0 63%);

  box-shadow:
    inset 1px -2px 9px 10px rgba(255, 255, 255, .5), inset 1px -6px 20px 9px rgba(0, 0, 51, .5), inset 5px -5px 20px 0px rgba(0, 0, 51, .5)
}

/* R richtingsbuttons */
section:nth-of-type(3)>ul:nth-of-type(1)>li:nth-of-type(3) {
  grid-column: 2;
  grid-row: 3;
  background-color: grey;
  clip-path: polygon(0 30%, 32% 30%, 32% 0, 68% 0, 68% 31%, 100% 31%, 100% 62%, 68% 62%, 68% 96%, 32% 96%, 32% 63%, 0 63%);

  box-shadow:
    inset 1px -2px 9px 10px rgba(255, 255, 255, .5), inset 1px -6px 20px 9px rgba(0, 0, 51, .5), inset 5px -5px 20px 0px rgba(0, 0, 51, .5)
}

/* Record button */
section:nth-of-type(2)>ul:nth-of-type(1)>li:nth-of-type(4) {
  grid-column: 2;
  grid-row: 4;

  button {
    height: 2em;
    width: 2em;
    color: transparent;
    border: none;
    position: relative;
    box-shadow:
      inset 0px 0px 6px 1px rgb(175 175 175 / 50%), inset 0px 0px 4px 2px rgb(198 198 198);

    &::after {
      content: "";
      background: whitesmoke;
      position: absolute;
      width: 1.5em;
      height: 1.5em;
      border-radius: 70%;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow:
        inset 1px 1px 6px 3px rgb(122 113 113 / 50%), inset 0px 0px 1px 2px rgb(114 101 101 / 16%);
    }
  }
}

/* Home button */
section:nth-of-type(3)>ul:nth-of-type(1)>li:nth-of-type(4) {
  grid-column: 1;
  grid-row: 4;

  button {
    height: 2.3em;
    width: 2.3em;
    color: transparent;
    border: none;
    position: relative;
    border-radius: 50%;
    box-shadow:
      inset 0px 0px 5px 2px rgb(123 120 120 / 50%), inset 0px 0px 4px 2px rgb(198 198 198);

    &::after {
      content: "";
      background: whitesmoke;
      position: absolute;
      width: 1.2em;
      height: 1.2em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);


      clip-path: polygon(50% 0%,
          100% 30%,
          100% 100%,
          0% 100%,
          0% 30%);

    }
  }
}

/* ⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️ */



/* 💗💗💗💗💗💗💗💗💗💗💗💗💗 */
/* Customizing Nintendo L */
/* 💗💗💗💗💗💗💗💗💗💗💗💗💗 */


body>main>section:last-of-type {
  background-color: lightgray;
  height: 12.5em;
  margin-top: 2.7em;
  background-color: var(--white);
  opacity: 95%;
  border: .3em solid #FF99CC;
  border-radius: 2em;

  h2 {
    background-color: #FF99CC;
    padding: .5em;
    border-radius: 20px;
    color: var(--white);
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1em;
  text-align: center;
  font-family: var(--pixelify-sans);
}

fieldset {
  padding: .2em 1.5em;
  border-style: none;
}

input {
  appearance: none;
  width: 20px;
  height: 15px;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  margin: .3em;
  cursor: pointer;

  &[value="pink"]:checked {
    background-color: var(--pink);
  }

  &[value="yellow"]:checked {
    background-color: var(--yellow2);
  }

  &[value="green"]:checked {
    background-color: var(--green);
  }

  &[value="purple"]:checked {
    background-color: var(--purple);
  }

  &[value="blue"]:checked {
    background-color: var(--blue);
  }

  &[value="orange"]:checked {
    background-color: var(--orange);
  }
}

/* Choose color Nintendo  */
main:has(input[value="yellow"]:checked) {
  --current-color: var(--yellow2);
}

main:has(input[value="pink"]:checked) {
  --current-color: var(--stickers);
}

/* Choose game Nintendo  */
main:has(input[value="orange"]:checked) {
  --game-choice: var(--aquarium);
}

main:has(input[value="blue"]:checked) {
  --game-choice: var(--city);
}

main:has(input[value="purple"]:checked) {
  --game-choice: var(--island);
}


/* Game uitkiezen  */
section:nth-of-type(1) div {
  background-image: var(--game-choice);
}

/* Radiobutton kleur uitkiezen */
article,
section:nth-of-type(2),
section:nth-of-type(3) {
  background: var(--current-color);
}


/******************************/
/* 🍀🍀  MEDIA QUERIES  🍀🍀   */
/*****************************/
@media (orientation: landscape) {
  body {
    article {
      height: min(min(80vh, 40vw), 20em);
      width: min(min(160vh, 80vw), 40em);

      background-color: var(--yellow2);
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 1fr;
    }

    section {
      &:nth-of-type(1) {
        grid-column: unset;
      }

      &:nth-of-type(2) {
        order: -1;
      }
    }

    section:nth-of-type(3)>div>button,
    section:nth-of-type(2)>div>button {
      top: -1vh;
    }
  }

  section:nth-of-type(2)>div>button {
    top: 0;
  }

  section:nth-of-type(3)>div>button {
    margin-left: 8.3em;
  }
}

/* Verbergt de article in portrait & landscape */
@media (orientation: portrait),
(orientation: landscape) {
  article:nth-of-type(1) {
    display: none;
  }
}

/* Laat bovenste article zien als 1700px is bereikt van grootte */
@media (min-width: 1600px) {
  article:nth-of-type(1) {
    display: grid;
    background-color: var(--current-color);
    height: min(min(80vh, 40vw), 20em);
    width: min(min(160vh, 80vw), 40em);

    background-color: var(--yellow2);
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
  }

  section:nth-of-type(1) {
    grid-column: unset;
  }

  section:nth-of-type(2) {
    order: -1;
  }

  body>main>section:last-of-type {
    margin-top: -25em;
    margin-right: -75em;
  }

}