/****************************/
/* ✨✨ GENERAL STYLING ✨✨ */
/***************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {

    /* Fonts */
    --pixelify-sans: "Pixelify Sans", sans-serif;
    --pixelify-weight-400: 400;
    --pixelify-weight-600: 600;
    --pixelify-weight-900: 900;


    /* Font sizes web & mobile */
    --h1-small: 1.5em;
    --p-small: 2em;

    /* Colors */
    --black: rgb(0 0 0);
    --white: rgb(255 255 255);
    --yellow: rgb(255 226 139);
    --yellow-dark: rgb(211 157 25);
    --light-grey: rgb(231 233 234);
    --medium-grey: rgb(185 191 192);
    --dark-grey: rgb(167 174 175);


    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    margin-top: 50px;
}

/* ✨✨ H1 & H2 ✨✨ */

h1 {
    font-family: var(--pixelify-sans);
    font-optical-sizing: auto;
    font-size: calc(2em + 2vw); 
   /* bron van calc, codepen over headlines met viewport units
     https://codepen.io/SitePoint/pen/XMPgdr */

    font-weight: var(--pixelify-weight-400);
    font-style: normal;
}

h2 {
    font-size: calc(1em + 0.70vw);
       /* bron van calc, codepen over headlines met viewport units
     https://codepen.io/SitePoint/pen/XMPgdr */

    font-family: var(--pixelify-sans);
    font-optical-sizing: auto;
    font-weight: var(--pixelify-weight-400);
    font-style: normal;
    text-align: center;
    margin: 20px;
  }


/****************************/
/*    🔑🔑 KEY FRAMES   🔑🔑 */
/***************************/


/****************************/
/*   🙂‍↔️🙂‍↔️ ANIMATIONS   🙂‍↔️🙂‍↔️ */
/***************************/



 /* 🎮🎮🎮🎮🎮🎮🎮🎮🎮🎮🎮🎮 */
 /* Nintendo SWITCH LITE  */
 /* 🎮🎮🎮🎮🎮🎮🎮🎮🎮🎮🎮🎮  */

.Nintendo {
    width: 80vw;
    min-width: 355px;
    height: 80vh;
    margin: 15vh auto;
    background: yellow;
    border-radius: 15px;
    opacity: 50%;
    position: relative;
    
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 5px;      /* gap tussen de grid columns */
  }
  
  .buttons{
    display: flex;
    flex-direction: row;
    gap: 77.5vw;
    height: 13vw;
    position: absolute;
    top: -3.5vh;
    left: -1.5vw;
    background-color: gold;
    place-content: center;
  }
  
  .try1 {
    background-color: green;
    width: 10vw; 
    aspect-ratio: 2 / 1;
  }
  
  .try2 {
    background-color: pink;
    width: 10vw; 
    aspect-ratio: 2 / 1;
  }
  
  @media (min-width: 400px) {
    .buttons{
      gap: 65vw;
    }
  }
